<mat-card class="player-bar">
  <div fxFlex fxLayout="row" fxLayoutGap="5px">
    <button (click)="onPreviousSong()" mat-stroked-button>
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button (click)="isPlaying ? onPause() : onPlay()" mat-stroked-button>
      <mat-icon>{{isPlaying ? 'pause' : 'play_arrow'}}</mat-icon>
    </button>
    <button (click)="onNextSong()" mat-stroked-button>
      <mat-icon>skip_next</mat-icon>
    </button>
    <div fxFlex fxLayoutAlign="start center" fxLayoutGap="5px">
      <div>{{currentTime}}</div>
      <mat-slider (change)="onChange($event)" [min]="0" [value]="current" [max]="duration" fxFlex></mat-slider>
      <div>{{remainingTime}}</div>
    </div>
  </div>
</mat-card>
