<div mat-dialog-title>{{'users.newUser' | translate}}</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div fxFlex fxLayout="column">
      <mat-form-field fxFlex>
        <mat-label>{{'users.name' | translate}}</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{'users.email' | translate}}</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{'users.password' | translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
               formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide">
          {{ hide ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{'users.repeatPassword' | translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
               formControlName="repeatPassword">
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{'users.type' | translate}}</mat-label>
        <mat-select formControlName="type">
          <ng-container *ngFor="let type of userType">
            <mat-option [value]="type">{{type}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{'users.access' | translate}}</mat-label>
        <mat-select multiple formControlName="access">
          <ng-container *ngFor="let type of accessType">
            <mat-option [value]="type">{{type}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onClose()" type="button">
      {{'global.close' | translate}}
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{'global.save' | translate}}
    </button>
  </mat-dialog-actions>
</form>

