<div mat-dialog-title>{{data.titleKey | translate}}?</div>
<mat-dialog-content>
  {{data.subtitleKey | translate}}: {{data.body | uppercase}}?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" [matDialogClose]="false">
    {{'global.no' | translate}}
  </button>
  <button mat-raised-button color="primary" [matDialogClose]="true">
    {{'global.yes' | translate}}
  </button>
</mat-dialog-actions>
