<div mat-dialog-title>{{id ? songTitle : 'songDetails.newSong' | translate}}</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-spinner [isLoading]="isLoading"></app-spinner>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          {{'songDetails.song' | translate}}
        </ng-template>
        <div fxLayout="column">
          <div fxFlex fxLayout="row" fxLayoutGap="20px">
            <div fxFlex="10" fxLayout="column">
              <mat-form-field appearance="standard">
                <mat-label>{{'songDetails.number' | translate}}</mat-label>
                <input type="number" matInput formControlName="number">
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <mat-form-field appearance="standard">
                <mat-label>{{'songDetails.title' | translate}}</mat-label>
                <input type="text" matInput formControlName="title">
              </mat-form-field>
            </div>
            <div fxFlex="10" fxLayout="column">
              <mat-form-field appearance="standard">
                <mat-label>{{'songDetails.note' | translate}}</mat-label>
                <input type="text" matInput formControlName="note">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex fxLayout="row">
            <mat-form-field fxFlex appearance="standard">
              <mat-label>{{'songDetails.text' | translate}}</mat-label>
              <textarea matInput formControlName="text" rows="15"></textarea>
            </mat-form-field>
          </div>
          <div fxFlex fxLayout="row">
            <mat-form-field fxFlex appearance="standard">
              <mat-label>{{'songDetails.audio' | translate}}</mat-label>
              <input type="text" matInput formControlName="audio">
            </mat-form-field>
          </div>
          <ng-container *ngIf="!file">
            <div fxFlex fxLayout="row" fxLayoutAlign="center center">
              <button type="button" (click)="fileUpload.click()" mat-icon-button>
                <mat-icon class="default-color">upload</mat-icon>
              </button>
            </div>
            <input #fileUpload hidden type="file" accept="audio/mpeg"
                   (change)="onFileDropped($event)">
          </ng-container>
          <mat-card *ngIf="file">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <span class="file-name">{{file.name}}:</span>
              <mat-progress-bar mode="buffer" [value]="progress"></mat-progress-bar>
              <button mat-icon-button (click)="onRemoveAudio()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          {{'songDetails.accord' | translate}}
        </ng-template>
        <div fxFlex fxLayout="row" fxLayoutGap="15px">
          <div fxFlex="50" fxLayout="column">
            <mat-form-field fxFlex appearance="standard">
              <mat-label>{{'songDetails.chorus' | translate}}</mat-label>
              <textarea matInput formControlName="rawChorus" rows="15"></textarea>
            </mat-form-field>
          </div>
          <div class="spacing" fxFlex="50" fxLayout="column" [innerHTML]="chorus.value"></div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>
  <mat-dialog-actions>
    <div fxFlex fxLayout="row">
      <div fxLayoutAlign="start center">
        <button *ngIf="id" mat-button (click)="onDelete()" type="button">
          {{'global.delete' | translate}}
        </button>
      </div>
      <div fxFlex fxLayoutAlign="end center">
        <button mat-button type="button" (click)="onClose()">
          {{'global.close' | translate}}
        </button>
        <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">
          {{'global.save' | translate}}
        </button>
        <button (click)="uploadAudio()" mat-raised-button color="primary" type="button">
          {{'global.save' | translate}}
        </button>
        <button type="button" mat-icon-button (click)="onRemoveAudio()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
