<div mat-dialog-title>{{'changePassword.title' | translate}}</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div fxFlex fxLayout="row" fxLayoutGap="15px">
      <mat-form-field fxFlex>
        <mat-label>{{'changePassword.password' | translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
               formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide">
          {{ hide ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{'changePassword.repeatPassword' | translate}}</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput
               formControlName="repeatPassword">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onClose()">
      {{'global.close' | translate}}
    </button>
    <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">
      {{'global.save' | translate}}
    </button>
  </mat-dialog-actions>
</form>
