mat-card {
  margin: 3px;
}

.view-port {
  display: flex;
}

.scroll-viewport {
  margin-left: 10px;
}

.song-title {
  font-size: 25px;
  font-weight: bold;
}

.song-text {
  white-space: break-spaces;
  font-size: 20px;
  line-height: normal;
}


