<mat-toolbar>
  <mat-toolbar-row>
    <div fxLayoutAlign="start center">
      {{'songsPreview.title' | translate | uppercase }}
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button matTooltipPosition="below" [matTooltip]="'songsPreview.newSong' | translate" mat-icon-button
              (click)="addSong()">
        <mat-icon>add</mat-icon>
      </button>
      <button matTooltipPosition="below" [matTooltip]="'songsPreview.refresh' | translate" mat-icon-button
              (click)="getData()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button matTooltipPosition="below" [matTooltip]="'songsPreview.sync' | translate" mat-icon-button
              (click)="onSync()">
        <mat-icon>sync</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<app-spinner [isLoading]="isLoading"></app-spinner>

<div fxLayout="column">
  <div fxFlex fxLayout="row">
    <div fxFlex="400px" fxLayout="column" class="scroll-viewport">
      <form [formGroup]="form">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>{{'songsPreview.search' | translate}}</mat-label>
          <input matInput formControlName="search">
        </mat-form-field>
      </form>
      <cdk-virtual-scroll-viewport [style.height.px]="viewPortHeight" itemSize="50">
        <ng-container *cdkVirtualFor="let song of songs">
          <mat-card (click)="onSelectSong(song)">
            <div fxLayout="row" fxLayoutAlign="start center">
              {{songUtils.songTitle(song)}}
            </div>
          </mat-card>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </div>
    <div fxFlex fxLayout="column">
      <div class="spacing" *ngIf="selectedSong">
        <div fxLayout="row">
          <div fxLayoutAlign="start center" class="song-title">
            {{songUtils.songTitle(selectedSong)}}
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <button (click)="onEdit()" mat-button>
              {{'global.edit' | translate}}
            </button>
          </div>
        </div>
        <div class="song-text">{{selectedSong.text}}</div>
      </div>
      <div fxFlex></div>
      <div class="spacing" *ngIf="isAudio && isAudioAvailable">
        <app-audio-player (audioState)="onAudioState($event)" (nexSong)="onNextSong()" (previousSong)="onPreviousSong()"
                          [song]="selectedSong">
        </app-audio-player>
      </div>
    </div>
  </div>
</div>
