<mat-toolbar>
  <mat-toolbar-row>
    <div fxLayoutAlign="start center">
      {{'users.title' | translate | uppercase}}
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <div fxFlex fxLayoutAlign="end center">
        <button matTooltipPosition="below" [matTooltip]="'users.newUser' | translate" mat-icon-button
                (click)="addUser()">
          <mat-icon>add</mat-icon>
        </button>
        <button matTooltipPosition="below" [matTooltip]="'users.refresh' | translate" mat-icon-button
                (click)="getData()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="spacing">
  <app-spinner [isLoading]="isLoading"></app-spinner>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort>

      <!-- name-->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'users.name' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>

      <!--text-->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'users.email' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
      </ng-container>

      <!--role-->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'users.type' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
      </ng-container>

      <!--role-->
      <ng-container matColumnDef="access">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'users.access' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.access}}</mat-cell>
      </ng-container>

      <!--edit-->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div fxFlex fxLayoutAlign="end center">
            <button mat-icon-button (click)="onChangePassword(row)">
              <mat-icon>vpn_key</mat-icon>
            </button>
            <button mat-icon-button (click)="onEdit(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSize]="10"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </mat-card-content>
</mat-card>
