<mat-toolbar>
  <mat-toolbar-row class="mat-elevation-z6 app-toolbar">
    <div fxFlex fxLayoutAlign="start center" fxLayoutGap="5px">
      <button mat-button [routerLink]="['users']" routerLinkActive="active-route">
        {{'menu.users' | translate | uppercase}}
      </button>
      <button mat-button [routerLink]="['songs-preview']" routerLinkActive="active-route">
        {{'menu.songs' | translate | uppercase}}
      </button>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button (click)="onLogout()" mat-button>{{'menu.logout' | translate | uppercase}}</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
