<div fxFlex fxLayout="row" fxLayoutGap="10px">
  <div fxLayoutAlign="start center">
    <mat-icon [color]="isInfo ? 'primary' :'warn'">{{data.type}}</mat-icon>
  </div>
  <div fxFlex fxLayoutAlign="center center" fxLayoutGap="5px">
    <span class="mat-body-1">{{data.titleKey | translate}}</span>
    <span class="mat-caption" *ngIf="data.body">{{data.body}}</span>
  </div>
  <div fxLayoutAlign="end center">
    <button (click)="onClose()" color="warn" mat-button>
      {{'global.close' | translate}}
    </button>
  </div>
</div>

