<div class="full-width" fxLayout="row">
  <div fxFlex="50" fxHide.lt-sm fxLayout="column">
    <img class="photo" alt="" src="https://i.pinimg.com/originals/b4/f2/8e/b4f28e5842a135dca380d7dcef9ab316.jpg">
  </div>
  <div fxFlex="50" fxFlex.lt-sm="100" fxLayout="column" fxLayoutAlign="center center">
    <app-spinner [isLoading]="isLoading"></app-spinner>
    <div class="login-form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div fxLayout="row">
          <mat-form-field appearance="standard" fxFlex>
            <mat-label>{{'loginPage.loginName' | translate}}</mat-label>
            <input formControlName="email" matInput>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="standard" fxFlex>
            <mat-label>{{'loginPage.password' | translate}}</mat-label>
            <input [type]="hide ? 'password' : 'text'"
                   formControlName="password" matInput>
            <mat-icon matSuffix (click)="hide = !hide">
              {{ hide ? 'visibility' : 'visibility_off' }}
            </mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <button fxFlex [disabled]="form.invalid" type="submit" mat-raised-button color="primary">
            {{'loginPage.submit' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
