<div mat-dialog-title>{{user.name | uppercase}}</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div fxFlex fxLayout="column">
      <mat-form-field fxFlex>
        <mat-label>{{'users.name' | translate}}</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{'users.email' | translate}}</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{'users.type' | translate}}</mat-label>
        <mat-select formControlName="type">
          <ng-container *ngFor="let type of userType">
            <mat-option [value]="type">{{type}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{'users.access' | translate}}</mat-label>
        <mat-select multiple formControlName="access">
          <ng-container *ngFor="let type of accessType">
            <mat-option [value]="type">{{type}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div fxFlex fxLayout="row">
      <div fxLayoutAlign="start center">
        <button mat-button (click)="onDelete()" type="button">
          {{'global.delete' | translate}}
        </button>
      </div>
      <div fxFlex fxLayoutAlign="end center">
        <button mat-button (click)="onClose()" type="button">
          {{'global.close' | translate}}
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{'global.save' | translate}}
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
