/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacing {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 35px;
}

.chord {
  margin-top: 10px;
  position: relative;
  top: -1em;
  display: inline-block;
  width: 0;
  text-decoration: none;
  overflow: visible;
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  height: 100%;
}

.chord-word {
  display: inline-block;
}

.active-route {
  background-color: lightgray;
}
